<div class="bg-white py-12">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1 class="text-4xl font-extrabold text-gray-900 sm:text-5xl">
        Fale Conosco
      </h1>
      <p class="mt-4 max-w-2xl mx-auto text-xl text-gray-500">
        A sua opinião é muito importante para nós.
      </p>
    </div>

    <div class="mt-12 prose prose-lg text-gray-600 mx-auto">
      <p>
        Se você tiver alguma dúvida, sugestão, ou se encontrou algum problema técnico na plataforma, por favor, não hesite em entrar em contato. Estamos sempre em busca de melhorar a aplicação e o seu feedback é fundamental para este processo.
      </p>
      
      <p>
        Você pode encontrar o desenvolvedor, Ayslan Hugo, através dos seguintes canais:
      </p>
      
      <ul>
        <li><strong>GitHub:</strong> <a href="https://github.com/ayslan-hugo" target="_blank" class="text-blue-600 hover:underline">github.com/ayslan-hugo</a> (veja outros projetos aqui)</li>
        <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/ayslan-hugo-b699671ba/" class="text-blue-600 hover:underline">ayslan-hugo</a></li>
        <li><strong>Email:</strong> <a href="mailto:ayslanhugo1@gmail.com" class="text-blue-600 hover:underline">ayslanhugo1@gmail.com</a></li>
      </ul>

      <p>
        Obrigado por fazer parte desta comunidade!
      </p>
    </div>
  </div>
</div>