<footer class="bg-white/95 dark:bg-gray-800/95 backdrop-blur-sm shadow-sm dark:shadow-gray-700 sticky top-0 z-50 transition-colors duration-300">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <p>&copy; <%= Time.now.year %> Minha Biblia. Todos os direitos reservados.</p>
      <p class="mt-2 text-sm text-gray-400">Um projeto desenvolvido em Ruby on Rails, por Ayslan Hugo</p>
      <div class="mt-4">
        <%= link_to 'Sobre', about_path, class: "text-gray-400 hover:text-white" %>
        <span class="mx-2">|</span>
        <%= link_to 'Contato', contact_path, class: "text-gray-400 hover:text-white" %>
      </div>
    </div>
  </div>
</footer>